.lexdo h1 {
  @apply text-center text-lg font-bold;
}

.lexdo h4 {
  @apply mt-4 font-bold;
}

.lexdo a {
  @apply text-indigo-600 hover:text-indigo-700;
}

.lexdo p {
  @apply mt-4;
}

.lexdo ol>li {
  @apply mt-4;
}

.lexdo ul>li {
  @apply mt-4;
}

.lexdo ol[type="A"] {
  list-style-type: upper-alpha;
}

.lexdo ul {
  @apply list-disc list-outside;
  padding-inline-start: 2rem;
}

.lexdo ol {
  @apply list-decimal list-outside;
  padding-inline-start: 2rem;
}
