h1 {
  @apply text-center text-lg font-bold;
}

h4 {
  @apply mt-4 font-bold;
}

a {
  @apply text-indigo-600 hover:text-indigo-700;
}

p {
  @apply mt-4;
}

ol > li {
  @apply mt-4;
}

ul > li {
  @apply mt-4;
}

ol[type="A"] {
  list-style-type: upper-alpha;
}

ul {
  @apply list-disc list-outside;
  padding-inline-start: 2rem;
}

ol {
  @apply list-decimal list-outside;
  padding-inline-start: 2rem;
}
